<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="link_00_name" value="base_link" />
  <xacro:property name="link_01_name" value="link_01" />
  <xacro:property name="link_02_name" value="link_02" />
  <xacro:property name="link_03_name" value="link_03" />
  <xacro:property name="link_04_name" value="link_04" />
  <xacro:property name="link_05_name" value="link_05" />
  <!-- <xacro:property name="link_11_name" value="link_11" /> -->
  <!-- <xacro:property name="cylinder_1" value="cylinder_1" />
  <xacro:property name="cylinder2" value="cylinder2" />
  <xacro:property name="cylinder3" value="cylinder3" />
  <xacro:property name="cylinder4" value="cylinder4" /> -->


  <xacro:property name="link_11_name" value="link_11" />
  <xacro:property name="link_12_name" value="link_12" />
  <xacro:property name="link_13_name" value="link_13" />
  <xacro:property name="link_14_name" value="link_14" />
  <xacro:property name="link_15_name" value="link_15" />
  <xacro:property name="scale_value" value="5" />
  <xacro:property name="basket_scale" value="0.015" />
  <xacro:property name="effort_value" value="10000" />
  <xacro:property name="camera_link" value="0.25" />
  <xacro:property name="cam_color" value="Gazebo/Red" />
  <xacro:property name="camera_name" value="kinnect" />
  <xacro:property name="frame_name" value="camera_link" />
  <xacro:property name="M_PI" value="3.14" />

  <xacro:property name="width" value="0.2" />
  <xacro:property name="leglen" value="0.6" />
  <xacro:property name="polelen" value="0.08" />
  <xacro:property name="bodylen" value="0.6" />
  <xacro:property name="baselen" value="0.4" />
  <xacro:property name="wheeldiam" value="0.07" />
  <xacro:property name="pi" value="3.1415" />

</robot>
