<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="paused" default="false" />
    <arg name="use_sim_time" default="true" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />
    <arg name="debug" default="false" />


    <!-- <group ns="/hands">

    </group> -->

    <!-- Robot model -->
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find mrm_description)/urdf/mrm.xacro'" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.5" />

    <!-- Spawn the robot model -->
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model mrm -x $(arg x) -y $(arg y) -z $(arg z)" />

    <!-- Load controllers -->
    <rosparam command="load" file="$(find mrm_description)/config/joints.yaml" />
    <rosparam command="load" file="$(find mrm_description)/config/gripper.yaml"/>

    <!-- Controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="
        joint_state_controller
        joint1_position_controller
        joint2_position_controller
        joint3_position_controller
        joint4_position_controller
        joint5_position_controller
        joint11_position_controller
        joint12_position_controller
        joint13_position_controller
        joint14_position_controller
        joint15_position_controller
        gripper_ext
        left_gripper_joint_controller
        right_gripper_joint_controller
        --timeout 60"></node>


    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
        </include>

        <node pkg="robot_state_publisher" type="robot_state_publisher"  name="robot_state_publisher">
            <param name="publish_frequency" type="double" value="30.0" />
          </node>
        
</launch>
